# gradle
.gradle/
out/
classes/
build/

# intellij
.idea/
*.iml
*.ipr
*.iws

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

#fabric
run/.fabric/
run/.mixin.out/
run/crash-reports/
run/data/
run/essential/
run/logs/
run/resources/
run/resourcify-temp/
run/saves/New World/
run/screenshots/
run/imgui.ini
run/ops.json
run/irisUpdateInfo.json
run/servers.dat
run/servers.dat_old
run/servers.essential.dat
run/usercache.json
run/usernamecache.json
run/whitelist.json